<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Thanks</h1>
    <script>
      // const d = new Date();
      // const date = _("submit");
      // date.onclick = () => {
      //   sendDateTime(
      //     `${d.getFullYear()}-${d.getMonth()}-${d.getDate()} ${d.getHours()}:${d.getMinutes()}:${d.getSeconds()}`,
      //     _("mobile")
      //   );
      // };
      // function sendDateTime(date, parent_element) {
      //   var e = parent_element;
      //   var value = e.options[e.selectedIndex].value;
      //   console.log(value);
      //   fetch(`/send-data?date=${date}&value=${value}`).then(
      //     console.log("sent")
      //   );
      //   alert("Data sent sucessfully you fail");
      // }
    </script>
  </body>
</html>
